{% load verbatim %}
{% load url from future %}

<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container-fluid">

    <div class="dropdown">
        <span class="brand dropdown-toggle">Map Maker <i class="icon-chevron-down" style="margin-top: 5px; margin-left: 3px; opacity: 0.5;"></i> &nbsp;&nbsp;&raquo;</span>
        <ul class="dropdown-menu">
            <li><a href="{% url 'moderation-home' %}">Submission Moderation</a></li>
            {% if user.is_superuser %}<li><a href="{% url 'admin:index' %}">Backend</a></li>{% endif %}
            <li class="divider"></li>
            <li><a href="{% url 'email-addresses-csv' %}">Submission E-mail Address CSV</a></li>
            <li><a href="{% url 'convert-en-to-latlng' %}">Bulk Convert Eastings/Northings</a></li>
            <li><a href="{% url 'bulk-geocode' %}">Bulk Geocode</a></li>
        </ul>
    </div>

{% verbatim %}
        <div class="dropdown">
            <span class="brand dropdown-toggle">{{ map.name }} <i class="icon-chevron-down" style="margin-top: 5px; margin-left: 3px; opacity: 0.5;"></i></span>
            <ul class="dropdown-menu">
                <li><a ng-click="addNewMap()">Create New Map</a></li>
                <li ng-repeat="map in maps">
                    <a href="#/maps/{{ map.id }}">{{ map.name }}</a>
                </li>
            </ul>
        </div>
{% endverbatim %}

        <div class="btn-group pull-right" style="margin-left: 20px;">
            <button ng-click="saveAll()" class="btn btn-small btn-success" href="">Save</button>
            <button ng-click="openDeleteMapModal()" class="btn btn-small btn-danger" href="">Delete</button>
            <button ng-click="saveAndOpenPreviewModal()" class="btn btn-small btn-primary">Preview Map</button>
            <button type="button" class="btn btn-small btn-warning" ng-model="ui_signals.showAdvanced" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">Advanced Mode</button>
        </div>

        <span ng-switch on="ui_signals.mapStatusBadge">
            <span ng-switch-when="saved"><span class="label label-success">Map Saved</span></span>
            <span ng-switch-when="saveError"><span class="label label-important">Could Not Save Map</span></span>
        </span>
    </div>
  </div>
</header>
