{% extends "base.html" %}
{% load url from future %}

{% block content %}
    <div class="row">
        <div class="span4 offset4">
            <h4>Upload CSV file with easting and northings</h4>
            <form action="{% url 'convert-en-to-latlng' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="file_to_convert" />
                <input type="submit" class="btn btn-large" value="Upload" />
            </form>
        </div>
    </div>
{% endblock %}
