{% load static from staticfiles %}
{% load url from future %} {# Because we're still on Django 1.4 #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Map Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]><script src="{% static 'js/lib/html5shiv.js' %}"></script><![endif]-->
    <!--[if lte IE 8]><link href="{% static 'moderation/moderation_ie.css' %}" rel="stylesheet"><![endif]-->
</head>

<body>

{% include 'nav.html' %}

<div class="container">

    {% block messages %}
        {% if messages %}
            <div class="row">
                <div class="span12">
                    {% for message in messages %}
                        <div class="alert fade in alert-block{% if message.tags %} alert-{{ message.tags }}{% endif %}"
                             style="margin-bottom: 0px;">
                            <a class="close" data-dismiss="alert">×</a>
                            {{ message|safe }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endblock %}

    {% block content %}
        <!-- No content rendered -->
    {% endblock %}

</div>
<!-- /container -->

<script src="{% static 'js/lib/jquery-1.9.1.min.js' %}"></script>
<script src="{% static 'js/lib/jquery.cookie.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% block page_js %}{% endblock %}
</body>
</html>